system/system/system_ext/apex/com.android.vndk.v30.apex
system/system/app_backup/YandexBrowser/YandexBrowser.apk
system/system/app_backup/YandexSearch/YandexSearch.apk
system/system/priv-app/LenovoCamera_P522/LenovoCamera_P522.apk
system/system/priv-app/Epos/Epos.apk
system/system/priv-app/InstantMemo_P522/InstantMemo_P522.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
